# Derek Jeter: Overrated?

## Derek Sanderson Jeter is an American former professional baseball shortstop, businessman, and baseball executive. As a player, Jeter spent his entire 20-year MLB career with the New York Yankees. Nicknamed "The Captain", Derek Jeter is soon to be inducted into the MLB Hall of Fame. There's no denying he was an amazing player, arguably the best player to ever play the shortstop position. But in baseball, there's two sides to the game. We will analyze Derek Jeter's batting performance over his career to see if he can really be the jack of all trades.

# Research Questions

How valuable was Derek Jeter to the NY Yankees when up to bat?

How much did Derek Jeter contribute to the wins based on the batting variables we chose to include?

Looking at other players, was Derek Jeter significantly better at getting a win? Did he contribute more?

Did Derek Jeter improve his batting performance throughout his seasons on the Yankees? Did he peak? Which season was his best? What are his most important contributing factors?

# Data Description

Year - the season the data is from.

RSLT - Result: Win or Loss, tracks whether the baseball game played was a win or a loss for the team

H - hits, tracks how many hits Derek Jeter had in a given game. A hit, also called a base hit, is credited to a batter when the batter safely reaches or passes first base after hitting the ball into fair territory, without the benefit of an error or a fielder's choice

HR - home runs, tracks how many home runs Derek Jeter had in a given game. A home run is scored when the ball is hit in such a way that the batter is able to circle the bases and reach home safely in one play without any errors being committed by the defensive team in the process

SB - stolen base, tracks how many bases Derek Jeter had in a given game. A stolen base occurs when a baserunner advances by taking a base to which he isn't entitled. This generally occurs when a pitcher is throwing a pitch, but it can also occur while the pitcher still has the ball or is attempting a pickoff, or as the catcher is throwing the ball back to the pitcher.

BB - base on balls (walk) tracks how many walks Derek Jeter had in a given game. A base on balls, also known as a walk, occurs in baseball when a batter receives four pitches that the umpire calls balls, and is in turn awarded first base without the possibility of being called out

WPA - win probability added, tracks Derek Jeter’s win probability added in a given game. Win probability added is a sport statistic which attempts to measure a player's contribution to a win by figuring the factor by which each specific play made by that player has altered the outcome of a game.

What are the observations (rows) and the attributes (columns)?

-- Each row represents a single game for the 20 seasons he played baseball. The columns each represent a different record of data, or a calculated statistic as explained above.

Why was this dataset created?

-- This data set was created for the purpose of tracking New York Yankees player, Derek Jeter. He was an outstanding player and these statistics were compiled together after each game, each season to allow MLB fans to look back on the result and statistics of the game, and to look at the individual players success.

What processes might have influenced what data was observed and recorded and what was not?

-- Any data that is considered a significant play is recorded. Whenever a player gets a hit, a homerun, times up to bat, etc. The dataset that we are utilizing is a batting log, so only plays that happen while up to bat or on base are recorded.

What preprocessing was done, and how did the data come to be in the form that you are using?

-- The only preprocessed variable in our usage of the dataset is the WPA, win probability added. This is calculated using the data collected throughout the game. We included this in our dataset to compare how much the variables we choose contributed to the actual win probability added.

If people are involved, were they aware of the data collection and if so, what purpose did they expect the data to be used for?

-- Yes, collecting sports statistics happens at every major league sporting event and even lower levels. The statistics and data are used for many different purposes. The data that is collected and analyzed is used to help increase fan experience and attendance from year to year. Sports analytics are crucial to many teams by helping them become their best through interpretation and analysis of statistics gained in games.



**NOTE**: Elaborate on benchmarks for jeter's numbers with maybe average of the MLB, give some context to whether or not his numbers are really good or not?

# Preregistration of analyses

1. We hope to examine which of Derek Jeter's statistics, whether that be walks, stolen bases, hits, home runs, or a combination of stats had the greatest impact on the win rate of the Yankees, how significant of an impact that was, and how our calculations per statistic compare to the overall win probability added (WPA) calculation of Jeter in a given game.



2. We want to determine if Derek Jeter's reputation as a hall of famer is overrated or not. We pulled 3 other fellow Yankees players from the 2010 season, one of Jeters best to see if Jeter is the jack of all trades. We know he is an all star in his short stop position. We wanted to focus on the batting side and see if he contributed more than most on both sides of the game.

make terms less ambiguous, clarify "jack of all trades", "all star" what does this mean relative to his performance

maybe compare the difference between best and worst seasons and whether or not his wpa is still high in bad seasons

# Data Collection and Cleaning

To collect our data, we scraped online databases of baseball statistics in order to pull all of Derek Jeter’s in game statistics on a game by game basis for every game of his career ranging from 1995 to 2014. This data contained all of his batting statistics including variables such as OPS, BA, CS, GDP, SH, SF, HBP, SO, IBB, RE24, cWPA, and other such acronyms relating to baseball measurements. However, not all of these variables are applicable or comparable in regards to the type of inferences we are trying to make. Thus, in our data cleaning process, we first evaluated which of the variables would be appropriate and comparable for our studies. We came up with a final list of variables including year, home runs, hits, game result, stolen bases, base on balls, and win probability added. These variables are unique in that they are recorded on a game by game basis and do not accumulate, unlike some of the other variables that were included in the stat sheet. Then, with these specific statistics chosen, we cleaned the data by simply excluding the statistics that we did not want, and then combining the statistics that we did want into a single dataframe which is easily processable and neat. Through this process, we cut our dataset from 38 columns over 19 dataframes to a more readable six columns all in one dataframe.

In [48]:
import os
import glob

In [76]:
def concatenate(indir = 'C:\\Users\\wally\\OneDrive\\Documents\\GitHub\\project2950\\arod_stats', outfile = 'C:\\Users\\wally\\OneDrive\\Documents\\GitHub\\project2950\\arod_concatenated.csv'):
    os.chdir(indir)
    fileList = glob.glob('*.csv')
    dfList = []
    colnames = ['Year', 'Rk', 'Gcar', 'Gtm', 'Date', 'Tm', 'Column1', 'Opp', 'Rslt', 'Inngs', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE',
                'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'BOP', 'aLI', 'WPA', 'acLI', 'cWPA', 'RE24', 'Pos']
    for filename in fileList:
        df = pd.read_csv(filename,header=None, encoding='ISO-8859-1')
        print(df)
        dfList.append(df)
    concatDf = pd.concat(dfList,axis=0)
    concatDf.columns = colnames
    concatDf.to_csv(outfile,index=None)

concatenate()

      0   1   2        3           4    5    6    7       8       9   ...  \
0   1994   1   1  85 (84)       8-Jul  SEA    @  BOS   L,3-4      CG  ...
1   1994   2   2       86       9-Jul  SEA    @  BOS   W,7-4      CG  ...
2   1994   3   3       87      10-Jul  SEA    @  BOS   L,2-9      CG  ...
3   1994   4   4       88      14-Jul  SEA  NaN  NYY  L,8-13      CG  ...
4   1994   5   5       89      15-Jul  SEA  NaN  NYY  L,8-10  CG(11)  ...
5   1994   6   6       90      16-Jul  SEA  NaN  NYY   L,3-9      CG  ...
6   1994   7   7       91      17-Jul  SEA  NaN  NYY  L,4-14      CG  ...
7   1994   8   8       92      18-Jul  SEA  NaN  BAL   W,7-5      CG  ...
8   1994   9   9       93      22-Jul  SEA    @  BOS   W,6-3      CG  ...
9   1994  10  10       94  Jul 23 (1)  SEA    @  BOS   L,5-6    GS-7  ...
10  1994  11  11       95  Jul 23 (2)  SEA    @  BOS   W,6-3  CG(11)  ...
11  1994  12  12       96      24-Jul  SEA    @  BOS   L,2-8      CG  ...
12  1994  13  13       97      26-Jul  SEA    @  DET   L,1-9      CG  ...
13  1994  14  14       98      27-Jul  SEA    @  DET   L,1-3      CG  ...
14  1994  15  15       99      28-Jul  SEA    @  DET   L,2-4    GS-6  ...
15  1994  16  16      100      29-Jul  SEA    @  CHW   L,4-5    GS-9  ...
16  1994  17  17      101      30-Jul  SEA    @  CHW   L,2-4    GS-8  ...

       29     30     31  32    33     34    35      36    37  38
0   0.000  0.000  0.000   9  1.06 -0.099  0.87 -0.0005 -0.96  SS
1   0.286  0.286  0.571   9  0.69  0.043  0.56  0.0002  0.50  SS
2   0.182  0.182  0.364   9  0.26 -0.026  0.22 -0.0001 -1.13  SS
3   0.200  0.200  0.400   9  0.57 -0.015  0.44 -0.0001 -0.32  SS
4   0.211  0.211  0.421   9  2.06 -0.205  1.41 -0.0008 -1.35  SS
5   0.261  0.227  0.488   9  0.58  0.046  0.39  0.0002  0.65  SS
6   0.296  0.240  0.536   9  0.70  0.003  0.38  0.0000 -0.33  SS
7   0.290  0.214  0.505   9  1.25 -0.103  0.68 -0.0003 -0.69  SS
8   0.314  0.250  0.564   9  0.59  0.044  0.31  0.0001  0.37  SS
9   0.324  0.265  0.589   9  0.83 -0.007  0.56  0.0000 -0.08  SS
10  0.310  0.256  0.566   9  1.03 -0.094  0.68 -0.0004 -0.73  SS
11  0.289  0.244  0.533   9  1.02 -0.062  0.76 -0.0003 -0.51  SS
12  0.292  0.250  0.542   9  0.47 -0.035  0.31 -0.0001 -0.26  SS
13  0.275  0.234  0.509   9  0.84 -0.066  0.42 -0.0002 -0.65  SS
14  0.264  0.224  0.489   9  1.17 -0.066  0.58 -0.0002 -0.63  SS
15  0.250  0.212  0.462   9  0.64 -0.051  0.25 -0.0001 -0.43  SS
16  0.241  0.204  0.445   9  1.20 -0.045  0.31 -0.0001 -0.42  SS

[17 rows x 39 columns]
         0   1   2          3          4    5    6    7        8          9   \
0   ï»¿1995   1  18    10Â (9)   5/7/2021  SEA    @  CAL    W,3-2         CG
1      1995   2  19         11   5/9/2021  SEA    @  OAK    L,5-7         CG
2      1995   3  20         12  5/10/2021  SEA    @  OAK    L,4-7         CG
3      1995   4  21         13  5/11/2021  SEA    @  OAK    L,1-3       GS-8
4      1995   5  22    15Â (1)  5/13/2021  SEA  NaN  CHW    W,6-5         CG
5      1995   6  23         16  5/14/2021  SEA  NaN  CHW   L,2-10       GS-8
6      1995   7  24         17  5/16/2021  SEA    @  KCR    L,2-4      CG(5)
7      1995   8  25    19Â (1)  5/18/2021  SEA    @  KCR    L,2-3  11-GF(14)
8      1995   9  26    23Â (3)  5/22/2021  SEA    @  DET   L,8-10       GS-9
9      1995  10  27         24  5/23/2021  SEA  NaN  BOS    L,4-5   9-GF(10)
10     1995  11  28         25  5/24/2021  SEA  NaN  BOS   W,15-6         CG
11     1995  12  29         26  5/25/2021  SEA  NaN  BOS    W,4-3         CG
12     1995  13  30   39Â (12)   6/8/2021  SEA    @  BAL    L,2-8         CG
13     1995  14  31         40   6/9/2021  SEA    @  NYY   W,11-1         CG
14     1995  15  32         41  6/10/2021  SEA    @  NYY    W,3-2       GS-9
15     1995  16  33         42  6/11/2021  SEA    @  NYY   L,7-10         CG
16     1995  17  34         43  6/12/2021  SEA  NaN  KCR   L,9-10         CG
17     1995  18  35         44  6/13/2021  SEA  NaN  KCR    L,1-3         CG
18     1995  19  36         45  6/14/2021  SEA  NaN  KCR    L,1-2         CG
19     1995  20  37         46  6/16/2021  SEA  NaN  MIN   L,1-10         CG
20     1995  21  38    49Â (2)  6/19/2021  SEA    @  CHW    L,6-8       9-GF
21     1995  22  39         50  6/20/2021  SEA    @  CHW    W,9-5         CG
22     1995  23  40         51  6/21/2021  SEA    @  CHW    L,4-5     CG(10)
23     1995  24  41         52  6/22/2021  SEA    @  CHW    W,3-2         CG
24     1995  25  42   78Â (25)  7/21/2021  SEA    @  TOR    L,3-4         CG
25     1995  26  43         79  7/22/2021  SEA    @  TOR    W,7-2         CG
26     1995  27  44         80  7/23/2021  SEA    @  TOR    W,6-4         CG
27     1995  28  45         81  7/24/2021  SEA  NaN  MIL    L,4-6         CG
28     1995  29  46         82  7/25/2021  SEA  NaN  MIL    W,8-6         CG
29     1995  30  47         83  7/26/2021  SEA  NaN  MIL    L,3-4         CG
30     1995  31  48    85Â (1)  7/28/2021  SEA  NaN  CLE    L,5-6       9-GF
31     1995  32  49         86  7/29/2021  SEA  NaN  CLE    W,5-3         CG
32     1995  33  50         87  7/30/2021  SEA  NaN  CLE    L,2-5       GS-8
33     1995  34  51    89Â (1)   8/2/2021  SEA    @  CAL    L,4-5         CG
34     1995  35  52         90   8/3/2021  SEA    @  CAL   W,10-7         CG
35     1995  36  53         91   8/4/2021  SEA    @  OAK    L,8-9         CG
36     1995  37  54         92   8/5/2021  SEA    @  OAK   W,15-9         CG
37     1995  38  55         93   8/6/2021  SEA    @  OAK   W,15-8         CG
38     1995  39  56         94   8/7/2021  SEA  NaN  CHW    W,6-4         CG
39     1995  40  57         95   8/8/2021  SEA  NaN  CHW   W,10-9       GS-5
40     1995  41  58         96   8/9/2021  SEA  NaN  CHW   W,11-8       7-GF
41     1995  42  59    99Â (2)  8/13/2021  SEA    @  KCR    L,3-6       GS-9
42     1995  43  60  120Â (20)   9/4/2021  SEA    @  NYY   L,3-13       4-GF
43     1995  44  61   127Â (6)  9/11/2021  SEA  NaN  MIN  L,10-12       9-GF
44     1995  45  62        128  9/12/2021  SEA  NaN  MIN   W,14-3       8-GF
45     1995  46  63   135Â (6)  9/20/2021  SEA  NaN  TEX   W,11-3       9-GF
46     1995  47  64   137Â (1)  9/23/2021  SEA  NaN  OAK    W,7-0       5-GF
47     1995  48  65        138  9/24/2021  SEA  NaN  OAK    W,9-8         CG

    ...     29     30     31  32    33     34    35      36    37     38
0   ...  0.333  0.333  0.667   9  0.85 -0.033  1.31 -0.0003 -0.26     SS
1   ...  0.286  0.286  0.571   9  0.94  0.024  1.39  0.0002 -0.21     SS
2   ...  0.200  0.200  0.400   9  0.63 -0.050  0.92 -0.0004 -0.67     SS
3   ...  0.250  0.333  0.583   9  0.86  0.045  1.25  0.0004  0.25     SS
4   ...  0.250  0.313  0.563   9  1.03  0.008  1.27  0.0001 -0.31     SS
5   ...  0.278  0.389  0.667   9  0.95  0.040  1.18  0.0003  0.45     SS
6   ...  0.250  0.350  0.600   9  1.04 -0.058  1.29 -0.0004 -0.62     SS
7   ...  0.238  0.333  0.571   8  1.43 -0.038  1.80 -0.0003 -0.12  PR SS
8   ...  0.320  0.440  0.760   9  1.23  0.274  1.55  0.0021  3.20     SS
9   ...  0.320  0.440  0.760   5   NaN    NaN   NaN     NaN   NaN     PR
10  ...  0.300  0.400  0.700   9  0.60  0.039  0.68  0.0003 -0.33     SS
11  ...  0.333  0.424  0.758   7  0.84  0.109  0.98  0.0008  1.10     SS
12  ...  0.306  0.389  0.694   9  0.83 -0.075  1.15 -0.0006 -1.05     SS
13  ...  0.300  0.375  0.675   9  0.63  0.047  0.84  0.0004  0.21     SS
14  ...  0.279  0.349  0.628   9  0.87 -0.069  1.14 -0.0005 -0.56     SS
15  ...  0.255  0.319  0.574   9  0.75 -0.081  1.05 -0.0007 -1.23     SS
16  ...  0.288  0.404  0.692   9  1.54  0.181  2.15  0.0015  1.21     SS
17  ...  0.309  0.418  0.727   9  1.68  0.087  2.26  0.0007  0.67     SS
18  ...  0.288  0.390  0.678   9  2.06 -0.220  2.62 -0.0017 -1.22     SS
19  ...  0.290  0.387  0.677   9  0.74 -0.067  0.77 -0.0004 -0.02     SS
20  ...  0.290  0.387  0.677   4   NaN    NaN   NaN     NaN   NaN     PR
21  ...  0.299  0.424  0.723   6  0.71  0.091  0.74  0.0006  1.12     SS
22  ...  0.282  0.400  0.682   9  1.37 -0.140  1.51 -0.0009 -0.80     SS
23  ...  0.267  0.378  0.645   6  0.86 -0.091  0.91 -0.0006 -0.87     SS
24  ...  0.278  0.416  0.694   9  0.95  0.035  0.95  0.0002  1.02     SS
25  ...  0.274  0.415  0.688   2  0.83  0.053  0.75  0.0003 -0.14     SS
26  ...  0.273  0.407  0.680   9  0.58 -0.042  0.62 -0.0003 -0.36     SS
27  ...  0.269  0.396  0.664   9  2.51 -0.156  3.55 -0.0013 -1.67     SS
28  ...  0.278  0.432  0.710   7  0.67  0.186  0.87  0.0015  2.18     SS
29  ...  0.270  0.418  0.688   7  0.82 -0.065  1.19 -0.0006 -0.51     SS
30  ...  0.270  0.418  0.688   9   NaN    NaN   NaN     NaN   NaN     SS
31  ...  0.279  0.416  0.695   9  1.34  0.014  1.52  0.0001  0.04     SS
32  ...  0.274  0.408  0.681   9  0.61 -0.032  0.75 -0.0002 -0.31     SS
33  ...  0.282  0.439  0.721   9  1.81 -0.082  1.94 -0.0005 -0.01     SS
34  ...  0.278  0.438  0.716   7  0.41 -0.010  0.38 -0.0001 -0.15     SS
35  ...  0.275  0.453  0.728   7  0.98 -0.056  1.11 -0.0004  0.05     SS
36  ...  0.264  0.434  0.698   9  0.84 -0.120  0.79 -0.0007 -2.05     SS
37  ...  0.262  0.421  0.682   9  0.87 -0.073  0.95 -0.0005 -0.86     SS
38  ...  0.269  0.414  0.683   7  1.03 -0.047  1.20 -0.0003 -0.10     SS
39  ...  0.265  0.408  0.672   7  0.91 -0.065  1.18 -0.0005 -0.77     SS
40  ...  0.263  0.405  0.667   8  0.05 -0.001  0.06  0.0000 -0.35     SS
41  ...  0.264  0.403  0.667   9  1.05  0.008  1.88  0.0001  0.08     SS
42  ...  0.261  0.397  0.658   2  0.09 -0.004  0.22 -0.0001 -0.52     SS
43  ...  0.261  0.397  0.658   8   NaN    NaN   NaN     NaN   NaN     SS
44  ...  0.261  0.397  0.658   8   NaN    NaN   NaN     NaN   NaN     SS
45  ...  0.261  0.397  0.658   8   NaN    NaN   NaN     NaN   NaN     SS
46  ...  0.264  0.413  0.677   2  0.11  0.025  0.33  0.0004  1.29     SS
47  ...  0.264  0.408  0.672   9  1.31  0.078  3.51  0.0013  0.83     SS

[48 rows x 39 columns]
          0    1    2    3       4    5    6    7       8       9   ...  \
0    ï»¿1996    1   66    1  31-Mar  SEA  NaN  CHW   W,3-2  CG(12)  ...
1       1996    2   67    2   2-Apr  SEA  NaN  CHW   W,3-2      CG  ...
2       1996    3   68    3   3-Apr  SEA  NaN  CHW   L,2-4    GS-9  ...
3       1996    4   69    4   5-Apr  SEA  NaN  MIL  L,6-10      CG  ...
4       1996    5   70    5   6-Apr  SEA  NaN  MIL   W,8-5      CG  ...
..       ...  ...  ...  ...     ...  ...  ...  ...     ...     ...  ...
141     1996  142  207  157  25-Sep  SEA    @  CAL  W,11-2      CG  ...
142     1996  143  208  158  26-Sep  SEA    @  OAK   L,5-7      CG  ...
143     1996  144  209  159  27-Sep  SEA    @  OAK   L,1-8      CG  ...
144     1996  145  210  160  28-Sep  SEA    @  OAK   W,5-3    GS-6  ...
145     1996  146  211  161  29-Sep  SEA    @  OAK   L,1-3      CG  ...

        29     30     31  32    33     34    35      36    37  38
0    0.167  0.167  0.333   9  2.54 -0.133  2.62 -0.0008 -0.58  SS
1    0.333  0.143  0.476   9  1.30  0.016  1.36  0.0001  0.13  SS
2    0.333  0.300  0.633   9  1.21  0.020  1.33  0.0001  0.37  SS
3    0.250  0.214  0.464   9  0.32 -0.035  0.36 -0.0002 -1.04  SS
4    0.211  0.176  0.387   9  0.19 -0.016  0.19 -0.0001 -0.76  SS
..     ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
141  0.419  0.640  1.059   2  1.12  0.152  3.66  0.0030  1.45  SS
142  0.418  0.638  1.055   2  0.87 -0.078  3.32 -0.0018 -0.57  SS
143  0.418  0.637  1.055   2  1.63 -0.066  1.11 -0.0003 -0.48  SS
144  0.417  0.635  1.052   2  0.98 -0.066  0.00  0.0000 -0.63  SS
145  0.414  0.631  1.045   3  1.11 -0.119  0.00  0.0000 -1.16  SS

[146 rows x 39 columns]
          0    1    2         3       4    5    6    7       8       9   ...  \
0    ï»¿1997    1  212         1   1-Apr  SEA  NaN  NYY   W,4-2      CG  ...
1       1997    2  213         2   2-Apr  SEA  NaN  NYY  L,2-16      CG  ...
2       1997    3  214         3   4-Apr  SEA  NaN  BOS  L,5-10      CG  ...
3       1997    4  215         4   5-Apr  SEA  NaN  BOS   L,6-8      CG  ...
4       1997    5  216         5   6-Apr  SEA  NaN  BOS   W,8-7  CG(10)  ...
..       ...  ...  ...       ...     ...  ...  ...  ...     ...     ...  ...
136     1997  137  348       155  20-Sep  SEA    @  OAK   L,3-4  CG(15)  ...
137     1997  138  349       156  21-Sep  SEA    @  OAK   W,9-2      CG  ...
138     1997  139  350       157  22-Sep  SEA    @  OAK   W,4-2      CG  ...
139     1997  140  351       158  23-Sep  SEA  NaN  ANA   W,4-3      CG  ...
140     1997  141  352  161Â (2)  27-Sep  SEA  NaN  OAK   W,9-3      CG  ...

        29     30     31  32    33     34    35      36    37  38
0    0.250  0.250  0.500   2  0.71 -0.028  0.75 -0.0002 -0.44  SS
1    0.222  0.333  0.556   2  0.77 -0.098  0.81 -0.0006 -0.84  SS
2    0.214  0.286  0.500   2  0.75 -0.078  0.75 -0.0005 -0.79  SS
3    0.263  0.421  0.684   2  1.15  0.079  1.12  0.0005 -0.33  SS
4    0.375  0.625  1.000   2  1.74  0.412  1.67  0.0024  2.40  SS
..     ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
136  0.347  0.496  0.843   5  2.18 -0.274  0.16 -0.0001 -1.84  SS
137  0.346  0.492  0.838   5  0.65 -0.016  0.14  0.0000 -0.89  SS
138  0.349  0.493  0.842   5  1.00 -0.015  0.15  0.0000 -0.21  SS
139  0.350  0.497  0.846   5  0.96  0.107  0.03  0.0000  1.39  SS
140  0.350  0.496  0.846   5  0.67  0.134  0.00  0.0000  1.00  DH

[141 rows x 39 columns]
          0    1    2    3       4    5    6    7       8     9   ...     29  \
0    ï»¿1998    1  353    1  31-Mar  SEA  NaN  CLE  L,9-10    CG  ...  0.000
1       1998    2  354    2   1-Apr  SEA  NaN  CLE   L,7-9    CG  ...  0.200
2       1998    3  355    3   3-Apr  SEA  NaN  BOS  W,11-6    CG  ...  0.267
3       1998    4  356    4   4-Apr  SEA  NaN  BOS  W,12-6    CG  ...  0.250
4       1998    5  357    5   5-Apr  SEA  NaN  BOS  L,5-10    CG  ...  0.240
..       ...  ...  ...  ...     ...  ...  ...  ...     ...   ...  ...    ...
156     1998  157  509  157  23-Sep  SEA  NaN  OAK   L,3-8    CG  ...  0.357
157     1998  158  510  158  24-Sep  SEA  NaN  TEX   L,3-9    CG  ...  0.358
158     1998  159  511  159  25-Sep  SEA  NaN  TEX  W,15-4  GS-7  ...  0.359
159     1998  160  512  160  26-Sep  SEA  NaN  TEX   W,5-2    CG  ...  0.358
160     1998  161  513  161  27-Sep  SEA  NaN  TEX  L,6-12  GS-3  ...  0.360

        30     31  32    33     34    35      36    37  38
0    0.000  0.000   2  1.35 -0.178  1.33 -0.0011 -1.23  SS
1    0.000  0.200   2  2.35 -0.139  2.35 -0.0008 -0.42  SS
2    0.154  0.421   2  0.77 -0.020  0.74 -0.0001 -0.31  SS
3    0.176  0.426   2  0.40  0.004  0.40  0.0000  0.20  SS
4    0.143  0.383   2  0.96 -0.141  0.96 -0.0009 -1.51  SS
..     ...    ...  ..   ...    ...   ...     ...   ...  ..
156  0.563  0.920   2  1.93  0.060  0.00  0.0000  0.27  SS
157  0.562  0.920   2  0.82  0.010  0.00  0.0000  0.40  SS
158  0.561  0.920   2  0.52 -0.048  0.00  0.0000  0.56  SS
159  0.559  0.917   2  0.57 -0.064  0.00  0.0000 -1.33  SS
160  0.560  0.919   1  1.10  0.099  0.00  0.0000  1.03  SS

[161 rows x 39 columns]
          0    1    2         3       4    5    6    7        8     9   ...  \
0    ï»¿1999    1  514         1   5-Apr  SEA  NaN  CHW    L,2-8    CG  ...
1       1999    2  515         2   6-Apr  SEA  NaN  CHW   L,3-11  GS-7  ...
2       1999    3  516  35Â (32)  14-May  SEA  NaN  KCR   L,7-12    CG  ...
3       1999    4  517        36  15-May  SEA  NaN  KCR  L,10-11    CG  ...
4       1999    5  518        37  16-May  SEA  NaN  KCR    W,5-1    CG  ...
..       ...  ...  ...       ...     ...  ...  ...  ...      ...   ...  ...
124     1999  125  638       158  29-Sep  SEA    @  TEX    W,7-3    CG  ...
125     1999  126  639       159  30-Sep  SEA    @  TEX    L,0-7    CG  ...
126     1999  127  640       160   1-Oct  SEA    @  OAK    L,1-5    CG  ...
127     1999  128  641       161   2-Oct  SEA    @  OAK   W,10-2  GS-8  ...
128     1999  129  642       162   3-Oct  SEA    @  OAK    L,1-3  GS-5  ...

        29     30     31  32    33     34    35      36    37  38
0    0.000  0.000  0.000   2  0.76 -0.081  0.77 -0.0005 -0.88  SS
1    0.143  0.000  0.143   2  0.77 -0.019  0.75 -0.0001 -0.12  SS
2    0.333  0.500  0.833   2  1.07  0.132  0.91  0.0007  1.28  SS
3    0.294  0.357  0.651   2  0.99 -0.101  0.79 -0.0005 -1.29  SS
4    0.381  0.529  0.910   2  0.49  0.117  0.33  0.0005  1.53  SS
..     ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
124  0.359  0.587  0.946   2  0.57  0.089  0.00  0.0000  1.37  SS
125  0.358  0.587  0.944   2  0.85 -0.035  0.00  0.0000 -0.47  SS
126  0.357  0.584  0.941   2  0.66 -0.024  0.00  0.0000 -0.34  SS
127  0.359  0.589  0.948   2  0.64  0.044  0.00  0.0000  1.46  SS
128  0.357  0.586  0.943   1  1.30 -0.099  0.00  0.0000 -1.01  SS

[129 rows x 39 columns]
          0    1    2    3       4    5    6    7       8     9   ...     29  \
0    ï»¿2000    1  643    1   4-Apr  SEA  NaN  BOS   L,0-2    CG  ...  0.500
1       2000    2  644    2   5-Apr  SEA  NaN  BOS   W,9-3    CG  ...  0.556
2       2000    3  645    3   6-Apr  SEA  NaN  BOS   W,5-2    CG  ...  0.615
3       2000    4  646    4   7-Apr  SEA  NaN  NYY   W,7-5    CG  ...  0.611
4       2000    5  647    5   8-Apr  SEA  NaN  NYY   L,2-3    CG  ...  0.545
..       ...  ...  ...  ...     ...  ...  ...  ...     ...   ...  ...    ...
143     2000  144  786  158  27-Sep  SEA  NaN  TEX   W,6-4    CG  ...  0.419
144     2000  145  787  159  28-Sep  SEA  NaN  TEX  L,6-13  GS-9  ...  0.419
145     2000  146  788  160  29-Sep  SEA    @  ANA   L,3-9    CG  ...  0.418
146     2000  147  789  161  30-Sep  SEA    @  ANA  W,21-9  GS-9  ...  0.420
147     2000  148  790  162   1-Oct  SEA    @  ANA   W,5-2    CG  ...  0.420

        30     31  32    33     34    35      36    37  38
0    0.000  0.500   3  1.01 -0.011  1.05 -0.0001 -0.08  SS
1    0.800  1.356   3  0.58  0.104  0.58  0.0006  1.60  SS
2    0.857  1.473   3  2.10  0.373  2.19  0.0023  2.58  SS
3    1.111  1.722   3  0.90  0.168  0.97  0.0011  1.07  SS
4    0.846  1.392   3  1.35  0.036  1.48  0.0002  0.21  SS
..     ...    ...  ..   ...    ...   ...     ...   ...  ..
143  0.595  1.014   3  0.89 -0.055  2.35 -0.0009 -0.94  SS
144  0.595  1.014   3  0.95  0.126  2.39  0.0019  0.98  SS
145  0.592  1.010   3  0.95 -0.045  2.00 -0.0006 -0.74  SS
146  0.604  1.023   3  0.55  0.226  3.17  0.0079  3.69  SS
147  0.606  1.026   3  0.74  0.052  4.09  0.0017  0.44  SS

[148 rows x 39 columns]
          0    1    2    3      4    5    6    7       8       9   ...     29  \
0    ï»¿2001    1  791    1  1-Apr  TEX    @  TOR   L,1-8      CG  ...  0.500
1       2001    2  792    2  3-Apr  TEX  NaN  ANA   W,3-2      CG  ...  0.375
2       2001    3  793    3  4-Apr  TEX  NaN  ANA   W,7-3      CG  ...  0.333
3       2001    4  794    4  5-Apr  TEX  NaN  ANA  L,3-10      CG  ...  0.250
4       2001    5  795    5  6-Apr  TEX  NaN  SEA   L,7-9  CG(10)  ...  0.286
..       ...  ...  ...  ...    ...  ...  ...  ...     ...     ...  ...    ...
157     2001  158  948  158  3-Oct  TEX    @  OAK   L,4-5      CG  ...  0.402
158     2001  159  949  159  4-Oct  TEX    @  SEA  L,1-16    GS-5  ...  0.403
159     2001  160  950  160  5-Oct  TEX    @  SEA   L,2-6      CG  ...  0.401
160     2001  161  951  161  6-Oct  TEX    @  SEA   L,0-1      CG  ...  0.399
161     2001  162  952  162  7-Oct  TEX    @  SEA   W,4-3      CG  ...  0.399

        30     31  32    33     34    35      36    37  38
0    0.500  1.000   3  0.78  0.003  0.80  0.0000  0.10  SS
1    0.375  0.750   3  0.99 -0.024  1.15 -0.0002 -0.37  SS
2    0.333  0.667   3  0.57 -0.051  0.68 -0.0004 -1.05  SS
3    0.250  0.500   3  0.78 -0.056  0.98 -0.0004 -0.76  SS
4    0.250  0.536   3  0.76 -0.033  0.92 -0.0002  0.11  SS
..     ...    ...  ..   ...    ...   ...     ...   ...  ..
157  0.628  1.030   3  1.12  0.012  0.00  0.0000  0.63  SS
158  0.632  1.036   3  0.68 -0.025  0.00  0.0000  0.54  SS
159  0.628  1.029   3  0.42 -0.043  0.00  0.0000 -0.55  SS
160  0.624  1.023   3  0.83 -0.085  0.00  0.0000 -0.49  SS

          0    1     2         3       4    5    6    7       8     9   ...  \
0    ï»¿2009    1  2043  29Â (28)   8-May  NYY    @  BAL   W,4-0    CG  ...
1       2009    2  2044        30   9-May  NYY    @  BAL  L,5-12    CG  ...
2       2009    3  2045        31  10-May  NYY    @  BAL   W,5-3    CG  ...
3       2009    4  2046        32  12-May  NYY    @  TOR   L,1-5    CG  ...
4       2009    5  2047        33  13-May  NYY    @  TOR   W,8-2  GS-9  ...
..       ...  ...   ...       ...     ...  ...  ...  ...     ...   ...  ...
119     2009  120  2162       156  27-Sep  NYY  NaN  BOS   W,4-2    CG  ...
120     2009  121  2163  158Â (1)  29-Sep  NYY  NaN  KCR   W,4-3  GS-8  ...
121     2009  122  2164       159  30-Sep  NYY  NaN  KCR   L,3-4  GS-8  ...
122     2009  123  2165       160   2-Oct  NYY    @  TBR  L,4-13  GS-6  ...
123     2009  124  2166  162Â (1)   4-Oct  NYY    @  TBR  W,10-2  GS-6  ...

        29     30     31  32    33     34    35      36    37  38
0    0.250  1.000  1.250   4  0.72  0.177  0.63  0.0009  1.70  3B
1    0.250  0.571  0.821   4  0.40 -0.029  0.40 -0.0002 -0.10  3B
2    0.250  0.455  0.705   4  0.66 -0.050  0.62 -0.0003 -0.55  3B
3    0.267  0.429  0.695   4  0.93  0.014  1.01  0.0001  0.40  3B
4    0.350  0.375  0.725   4  0.41  0.013  0.42  0.0001  0.00  3B
..     ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
119  0.403  0.524  0.927   4  0.98 -0.034  0.00  0.0000 -0.63  3B
120  0.404  0.523  0.927   4  1.51  0.015  0.00  0.0000 -0.29  3B
121  0.402  0.519  0.921   4  0.96 -0.076  0.00  0.0000 -0.65  3B
122  0.399  0.516  0.915   4  0.36 -0.030  0.00  0.0000 -0.52  3B
123  0.402  0.532  0.933   4  1.37  0.364  0.00  0.0000  5.35  3B

[124 rows x 39 columns]
          0    1     2    3          4    5  6    7       8       9   ...  \
0    ï»¿2010    1  2167    1      4-Apr  NYY  @  BOS   L,7-9      CG  ...
1       2010    2  2168    2      6-Apr  NYY  @  BOS   W,6-4      CG  ...
2       2010    3  2169    3      7-Apr  NYY  @  BOS   W,3-1  CG(10)  ...
3       2010    4  2170    4      9-Apr  NYY  @  TBR   L,3-9      CG  ...
4       2010    5  2171    5     10-Apr  NYY  @  TBR  W,10-0    GS-9  ...
..       ...  ...   ...  ...        ...  ... ..  ...     ...     ...  ...
132     2010  133  2299  158     28-Sep  NYY  @  TOR   W,6-1      CG  ...
133     2010  134  2300  159     29-Sep  NYY  @  TOR   L,4-8      CG  ...
134     2010  135  2301  160  Oct 2 (1)  NYY  @  BOS   W,6-5  CG(10)  ...
135     2010  136  2302  161  Oct 2 (2)  NYY  @  BOS   L,6-7  CG(10)  ...
136     2010  137  2303  162      3-Oct  NYY  @  BOS   L,4-8      CG  ...

        29     30     31  32    33     34    35      36    37  38
0    0.200  0.400  0.600   4  1.25  0.045  1.35  0.0003 -0.11  3B
1    0.200  0.400  0.600   4  1.34  0.054  1.37  0.0003  0.31  3B
2    0.133  0.267  0.400   4  1.56 -0.268  1.79 -0.0018 -2.22  3B
3    0.158  0.368  0.526   4  0.72  0.185  0.89  0.0014  1.08  3B
4    0.250  0.391  0.641   4  0.75 -0.062  0.89 -0.0005  0.01  3B
..     ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
132  0.343  0.511  0.854   4  0.80  0.059  0.47  0.0002  0.42  3B
133  0.342  0.514  0.856   4  0.58 -0.067  0.37 -0.0003  0.19  3B
134  0.341  0.511  0.851   4  1.41 -0.097  1.05 -0.0004 -1.13  DH
135  0.341  0.508  0.848   4  1.44 -0.153  0.84 -0.0005 -0.88  3B
136  0.341  0.506  0.847   4  0.69  0.047  1.04  0.0004  0.12  3B

[137 rows x 39 columns]
         0   1     2         3           4    5    6    7       8       9   \
0   ï»¿2011   1  2304         1      31-Mar  NYY  NaN  DET   W,6-3      CG
1      2011   2  2305         2       2-Apr  NYY  NaN  DET  W,10-6    GS-8
2      2011   3  2306         3       3-Apr  NYY  NaN  DET  L,7-10      CG
3      2011   4  2307         4       4-Apr  NYY  NaN  MIN   W,4-3      CG
4      2011   5  2308         5       5-Apr  NYY  NaN  MIN   L,4-5  CG(10)
..      ...  ..   ...       ...         ...  ...  ...  ...     ...     ...
94     2011  95  2398       154  Sep 21 (1)  NYY  NaN  TBR   W,4-2      CG
95     2011  96  2399  157Â (2)      24-Sep  NYY  NaN  BOS   W,9-1    GS-9
96     2011  97  2400       158  Sep 25 (1)  NYY  NaN  BOS   W,6-2      CG
97     2011  98  2401  160Â (1)      26-Sep  NYY    @  TBR   L,2-5      CG
98     2011  99  2402       161      27-Sep  NYY    @  TBR   L,3-5    GS-8

    ...     29     30     31  32    33     34    35      36    37  38
0   ...  0.750  1.000  1.750   4  0.64  0.079  0.65  0.0005  1.00  3B
1   ...  0.750  1.600  2.350   4  0.54  0.140  0.56  0.0009  2.65  3B
2   ...  0.538  0.900  1.438   4  1.17 -0.075  1.24 -0.0005 -0.73  3B
3   ...  0.471  0.929  1.399   4  0.75  0.077  0.78  0.0005  0.34  3B
4   ...  0.429  0.778  1.206   4  0.49 -0.039  0.55 -0.0003 -0.14  3B
..  ...    ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
94  ...  0.364  0.472  0.836   4  1.06  0.017  0.06  0.0000  0.23  3B
95  ...  0.361  0.467  0.828   4  0.27 -0.028  0.00  0.0000 -0.92  3B
96  ...  0.362  0.466  0.828   3  0.55  0.011  0.00  0.0000  0.48  3B
97  ...  0.361  0.464  0.824   4  0.94  0.048  0.00  0.0000  0.20  DH
98  ...  0.362  0.461  0.823   4  1.41  0.033  0.00  0.0000  0.26  3B

[99 rows x 39 columns]
          0    1     2    3       4    5    6    7       8       9   ...  \
0    ï»¿2012    1  2403    1   6-Apr  NYY    @  TBR   L,6-7      CG  ...
1       2012    2  2404    2   7-Apr  NYY    @  TBR   L,6-8      CG  ...
2       2012    3  2405    3   8-Apr  NYY    @  TBR   L,0-3      CG  ...
3       2012    4  2406    4   9-Apr  NYY    @  BAL   W,6-2      CG  ...
4       2012    5  2407    5  10-Apr  NYY    @  BAL   W,5-4  CG(12)  ...
..       ...  ...   ...  ...     ...  ...  ...  ...     ...     ...  ...
117     2012  118  2520  158  29-Sep  NYY    @  TOR   L,2-3      CG  ...
118     2012  119  2521  159  30-Sep  NYY    @  TOR   W,9-6      CG  ...
119     2012  120  2522  160   1-Oct  NYY  NaN  BOS  W,10-2    GS-8  ...
120     2012  121  2523  161   2-Oct  NYY  NaN  BOS   W,4-3  CG(12)  ...
121     2012  122  2524  162   3-Oct  NYY  NaN  BOS  W,14-2    GS-7  ...

        29     30     31  32    33     34    35      36    37  38
0    0.800  1.000  1.800   4  0.88  0.183  0.98  0.0012  1.99  3B
1    0.500  0.429  0.929   4  0.72 -0.053  0.74 -0.0003 -0.91  3B
2    0.500  0.500  1.000   4  0.82  0.024  0.80  0.0001  0.08  3B
3    0.421  0.357  0.778   4  0.87 -0.078  0.83 -0.0005 -2.42  DH
4    0.360  0.263  0.623   4  2.05 -0.214  2.01 -0.0013 -1.24  3B
..     ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
117  0.348  0.429  0.776   3  1.84 -0.063  4.32 -0.0009  0.40  3B
118  0.350  0.429  0.779   3  1.31  0.125  4.31  0.0025  0.75  3B
119  0.347  0.426  0.774   3  0.33 -0.007  1.22 -0.0002 -0.59  DH
120  0.349  0.426  0.775   3  2.20  0.074  5.81  0.0012  0.85  3B
121  0.353  0.430  0.783   3  0.21  0.018  0.58  0.0003  0.98  3B

[122 rows x 39 columns]
         0   1     2           3           4    5    6    7       8       9   \
0   ï»¿2013   1  2525  111Â (110)       5-Aug  NYY    @  CHW   L,1-8      CG
1      2013   2  2526         112       6-Aug  NYY    @  CHW   L,2-3      CG
2      2013   3  2527         113       7-Aug  NYY    @  CHW   L,5-6   GS-11
3      2013   4  2528         114       9-Aug  NYY  NaN  DET   W,4-3    GS-9
4      2013   5  2529    116Â (1)      11-Aug  NYY  NaN  DET   W,5-4      CG
5      2013   6  2530         117      12-Aug  NYY  NaN  LAA   W,2-1      CG
6      2013   7  2531         118      13-Aug  NYY  NaN  LAA  W,14-7      CG
7      2013   8  2532         119      14-Aug  NYY  NaN  LAA  W,11-3      CG
8      2013   9  2533         120      15-Aug  NYY  NaN  LAA   L,4-8      CG
9      2013  10  2534         121      16-Aug  NYY    @  BOS  W,10-3      CG
10     2013  11  2535         122      17-Aug  NYY    @  BOS   L,1-6      CG
11     2013  12  2536         123      18-Aug  NYY    @  BOS   W,9-6      CG
12     2013  13  2537         124  Aug 20 (1)  NYY  NaN  TOR   W,8-4      CG
13     2013  14  2538         125  Aug 20 (2)  NYY  NaN  TOR   W,3-2      CG
14     2013  15  2539    127Â (1)      22-Aug  NYY  NaN  TOR   W,5-3      CG
15     2013  16  2540         128      23-Aug  NYY    @  TBR   L,2-7      CG
16     2013  17  2541         129      24-Aug  NYY    @  TBR   L,2-4      CG
17     2013  18  2542         130      25-Aug  NYY    @  TBR   W,3-2  10-Oct
18     2013  19  2543         131      26-Aug  NYY    @  TOR   L,2-5      CG
19     2013  20  2544         132      27-Aug  NYY    @  TOR   W,7-1      CG
20     2013  21  2545         133      28-Aug  NYY    @  TOR   L,2-7      CG
21     2013  22  2546         134      30-Aug  NYY  NaN  BAL   W,8-5      CG
22     2013  23  2547    136Â (1)       1-Sep  NYY  NaN  BAL   L,3-7      CG
23     2013  24  2548         137       2-Sep  NYY  NaN  CHW   W,9-1    GS-8
24     2013  25  2549         138       3-Sep  NYY  NaN  CHW   W,6-4      CG
25     2013  26  2550         139       4-Sep  NYY  NaN  CHW   W,6-5      CG
26     2013  27  2551         140       5-Sep  NYY  NaN  BOS   L,8-9  CG(10)
27     2013  28  2552         141       6-Sep  NYY  NaN  BOS  L,8-12      CG
28     2013  29  2553    143Â (1)       8-Sep  NYY  NaN  BOS   W,4-3      CG
29     2013  30  2554         144       9-Sep  NYY    @  BAL   L,2-4      CG
30     2013  31  2555         145      10-Sep  NYY    @  BAL   W,7-5    GS-8
31     2013  32  2556         146      11-Sep  NYY    @  BAL   W,5-4      CG
32     2013  33  2557         147      12-Sep  NYY    @  BAL   W,6-5    GS-9
33     2013  34  2558         148      13-Sep  NYY    @  BOS   L,4-8      CG
34     2013  35  2559         149      14-Sep  NYY    @  BOS   L,1-5      CG
35     2013  36  2560         150      15-Sep  NYY    @  BOS   L,2-9    GS-5
36     2013  37  2561         151      17-Sep  NYY    @  TOR   L,0-2      CG
37     2013  38  2562         152      18-Sep  NYY    @  TOR   W,4-3      CG
38     2013  39  2563         153      19-Sep  NYY    @  TOR   L,2-6      CG
39     2013  40  2564         154      20-Sep  NYY  NaN  SFG   W,5-1      CG
40     2013  41  2565         155      21-Sep  NYY  NaN  SFG   W,6-0      CG
41     2013  42  2566         156      22-Sep  NYY  NaN  SFG   L,1-2    GS-8
42     2013  43  2567         157      24-Sep  NYY  NaN  TBR   L,0-7      CG
43     2013  44  2568         158      25-Sep  NYY  NaN  TBR   L,3-8    GS-8

    ...     29     30     31  32    33     34    35      36    37  38
0   ...  0.250  0.250  0.500   4  0.30  0.025  0.16  0.0001 -0.38  3B
1   ...  0.500  0.333  0.833   3  1.35  0.049  0.65  0.0001  0.38  DH
2   ...  0.429  0.273  0.701   3  1.28 -0.123  0.49 -0.0003 -0.12  3B
3   ...  0.333  0.200  0.533   5  0.69 -0.088  0.21 -0.0002 -1.71  3B
4   ...  0.364  0.421  0.785   4  0.64  0.195  0.19  0.0004  1.58  3B
5   ...  0.360  0.409  0.769   4  1.38 -0.151  0.47 -0.0003 -1.69  3B
6   ...  0.333  0.407  0.741   4  0.72 -0.017  0.30  0.0000  0.93  DH
7   ...  0.343  0.419  0.762   4  0.28  0.036  0.15  0.0001  0.03  3B
8   ...  0.350  0.417  0.767   4  1.29  0.022  0.80  0.0001  0.04  3B
9   ...  0.378  0.425  0.803   5  0.40 -0.060  0.23 -0.0002  0.12  3B
10  ...  0.367  0.395  0.763   5  0.75 -0.010  0.58 -0.0001 -0.05  3B
11  ...  0.407  0.489  0.897   5  1.17  0.197  0.70  0.0007  2.24  3B
12  ...  0.414  0.480  0.894   5  0.77  0.036  0.42  0.0001  0.28  3B
13  ...  0.387  0.444  0.832   5  1.61 -0.240  1.04 -0.0009 -1.45  DH
14  ...  0.379  0.421  0.800   5  0.92 -0.019  0.77 -0.0001  0.21  3B
15  ...  0.357  0.393  0.751   5  0.33 -0.036  0.43 -0.0003 -0.69  3B
16  ...  0.351  0.385  0.736   5  0.83 -0.005  0.91  0.0000 -0.10  3B
17  ...  0.360  0.394  0.754   9  2.28  0.082  1.78  0.0004  0.38  PH
18  ...  0.354  0.429  0.783   6  0.96  0.056  0.80  0.0003 -0.06  3B
19  ...  0.369  0.473  0.842   5  0.16 -0.005  0.11  0.0000  1.05  3B
20  ...  0.364  0.462  0.825   5  0.44  0.017  0.37  0.0001  0.73  3B
21  ...  0.359  0.451  0.810   5  0.65 -0.019  0.48 -0.0001 -0.43  3B
22  ...  0.354  0.435  0.789   5  0.74 -0.010  0.80 -0.0001 -0.21  3B
23  ...  0.360  0.443  0.803   5  0.50  0.026  0.38  0.0001  0.33  3B
24  ...  0.365  0.440  0.805   5  1.49  0.149  1.41  0.0008  0.33  3B
25  ...  0.370  0.436  0.807   6  0.93  0.039  0.97  0.0003  0.16  3B
26  ...  0.372  0.455  0.826   6  1.82 -0.128  2.21 -0.0009 -0.01  3B
27  ...  0.368  0.441  0.809   5  0.47 -0.045  0.47 -0.0003 -0.61  3B
28  ...  0.380  0.448  0.828   5  1.22  0.052  0.71  0.0002  0.47  3B
29  ...  0.384  0.477  0.861   2  1.08  0.123  0.95  0.0007  0.93  3B
30  ...  0.388  0.496  0.883   2  1.29  0.209  0.86  0.0008  1.04  3B
31  ...  0.383  0.513  0.896   2  1.21  0.074  1.24  0.0005  0.36  DH
32  ...  0.391  0.504  0.896   2  0.58  0.018  0.87  0.0002  0.62  DH
33  ...  0.387  0.492  0.879   2  1.12 -0.002  1.57  0.0000 -0.23  DH
34  ...  0.384  0.480  0.864   4  0.56 -0.033  0.66 -0.0002 -0.63  DH
35  ...  0.385  0.480  0.865   2  1.18  0.030  1.07  0.0002  0.23  DH
36  ...  0.375  0.466  0.841   2  1.22 -0.121  0.94 -0.0006 -0.99  DH
37  ...  0.369  0.452  0.821   2  1.27 -0.124  0.55 -0.0003 -1.20  DH
38  ...  0.366  0.442  0.808   2  0.70 -0.064  0.47 -0.0003 -0.29  DH
39  ...  0.364  0.458  0.821   2  1.98  0.285  0.71  0.0006  2.76  DH
40  ...  0.355  0.445  0.800   2  0.53 -0.006  0.26  0.0000 -0.57  DH
41  ...  0.353  0.440  0.793   2  1.22  0.038  0.59  0.0001 -0.16  DH
42  ...  0.354  0.431  0.785   2  0.89  0.026  0.08  0.0000 -0.37  DH
43  ...  0.348  0.423  0.771   2  1.13 -0.095  0.00  0.0000 -0.82  DH

[44 rows x 39 columns]
          0    1     2    3          4    5    6    7      8       9   ...  \
0    ï»¿2015    1  2569    1      6-Apr  NYY  NaN  TOR  L,1-6      CG  ...
1       2015    2  2570    2      8-Apr  NYY  NaN  TOR  W,4-3      CG  ...
2       2015    3  2571    3      9-Apr  NYY  NaN  TOR  L,3-6      CG  ...
3       2015    4  2572    4     10-Apr  NYY  NaN  BOS  L,5-6   GS-11  ...
4       2015    5  2573    5     11-Apr  NYY  NaN  BOS  L,4-8      CG  ...
..       ...  ...   ...  ...        ...  ...  ...  ...    ...     ...  ...
146     2015  147  2715  158     30-Sep  NYY  NaN  BOS  L,5-9  CG(11)  ...
147     2015  148  2716  159      1-Oct  NYY  NaN  BOS  W,4-1    GS-8  ...
148     2015  149  2717  160  Oct 3 (1)  NYY    @  BAL  L,2-9      CG  ...
149     2015  150  2718  161  Oct 3 (2)  NYY    @  BAL  L,3-4   9-Sep  ...
150     2015  151  2719  162      4-Oct  NYY    @  BAL  L,4-9      CG  ...

        29     30     31  32    33     34    35      36    37  38
0    0.667  0.500  1.167   7  0.44  0.042  0.45  0.0003  0.61  DH
1    0.286  0.167  0.452   7  1.65 -0.150  1.64 -0.0009 -1.59  DH
2    0.364  0.556  0.919   2  1.06  0.022  1.08  0.0001  0.87  DH
3    0.375  0.571  0.946   3  1.50  0.114  1.48  0.0007  0.58  DH
4    0.350  0.500  0.850   4  1.10  0.038  1.03  0.0002  0.18  1B
..     ...    ...    ...  ..   ...    ...   ...     ...   ...  ..
146  0.356  0.492  0.849   3  1.32  0.231  0.15  0.0002  1.60  DH
147  0.357  0.491  0.849   3  0.44 -0.010  0.09  0.0000  0.31  DH
148  0.355  0.487  0.843   3  0.65 -0.066  0.03  0.0000 -0.93  DH
149  0.356  0.488  0.845   8  2.11  0.082  0.19  0.0000  0.26  PH
150  0.356  0.486  0.842   3  0.43 -0.003  0.12  0.0000 -0.11  DH

[151 rows x 39 columns]
         0   1     2         3          4    5    6    7       8      9   ...  \
0   ï»¿2016   1  2720         1   4/5/2021  NYY  NaN  HOU   L,3-5     CG  ...
1      2016   2  2721         2   4/6/2021  NYY  NaN  HOU  W,16-6   GS-8  ...
2      2016   3  2722         3   4/7/2021  NYY  NaN  HOU   W,8-5     CG  ...
3      2016   4  2723    5Â (1)   4/9/2021  NYY    @  DET   W,8-4     CG  ...
4      2016   5  2724         6  4/12/2021  NYY    @  TOR   W,3-2     CG  ...
..      ...  ..   ...       ...        ...  ...  ...  ...     ...    ...  ...
60     2016  61  2780       104  7/31/2021  NYY    @  TBR   L,3-5   9-GF  ...
61     2016  62  2781  106Â (1)   8/2/2021  NYY    @  NYM   L,1-7   9-GF  ...
62     2016  63  2782  113Â (6)  8/10/2021  NYY    @  BOS   W,9-4  7-Jul  ...
63     2016  64  2783       114  8/11/2021  NYY    @  BOS   W,4-2     CG  ...
64     2016  65  2784       115  8/12/2021  NYY  NaN  TBR   W,6-3   GS-9  ...

       29     30     31  32    33     34    35      36    37     38
0   0.250  0.000  0.250   3  0.81 -0.085  0.76 -0.0005 -0.68     DH
1   0.333  0.000  0.333   3  0.70  0.038  0.61  0.0002 -1.06     DH
2   0.385  0.200  0.585   3  1.48  0.086  1.36  0.0005  0.50     DH
3   0.389  0.429  0.817   3  0.24  0.084  0.24  0.0005  0.29     DH
4   0.318  0.333  0.652   3  1.32 -0.143  1.38 -0.0009 -1.29     DH
..    ...    ...    ...  ..   ...    ...   ...     ...   ...    ...
60  0.253  0.358  0.611   9  0.92 -0.023  0.69 -0.0001 -0.15     PH
61  0.252  0.356  0.609   8  0.00  0.000  0.00  0.0000 -0.10     PH
62  0.251  0.355  0.606   9  3.25 -0.057  2.10 -0.0002 -0.33     PH
63  0.247  0.348  0.595   4  1.40 -0.052  1.12 -0.0003 -0.61     DH
64  0.247  0.351  0.598   3  0.78  0.066  0.59  0.0003  0.69  3B DH

[65 rows x 39 columns]

In [80]:
arod = pd.read_csv('arod_concatenated')

FileNotFoundError: [Errno 2] File arod_concatenated does not exist: 'arod_concatenated'

# Data Limitations

Baseball statistics are inherently limited in the scope of what they measure. Thus, our dataset can only provide limited conclusions as well. This dataset could include many other statistics if it were to be complete and provide the best, most accurate conclusions, but due to the difficulty of processing so many variables and the time constraints of this project, we chose only the most important ones. There is the possibility that there is human error in recording the information, and it is possible that the older statistics from 1995 are not as precise as the ones gathered more recently, given new technology in sports statistic reporting and recording.

In [50]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
from   sklearn.linear_model import LinearRegression, LogisticRegression
from   sklearn.model_selection import train_test_split
import statsmodels.formula.api as smf

In [51]:
jeter = pd.read_csv("JeterStats.csv")
jeter['win'] = jeter.Rslt.apply(lambda x: 1 if 'W' in x else 0)
jeter_win_subset = jeter[jeter['win']==1]
jeter_loss_subset = jeter[jeter['win']==0]
jeter.head()

   Year   Rslt  H  HR  SB  BB    WPA  win
0  2014  L,2-6  1   0   0   0  0.026    0
1  2014  L,1-3  0   0   0   1 -0.051    0
2  2014  W,4-2  1   0   0   1  0.089    1
3  2014  L,0-4  0   0   0   2  0.180    0
4  2014  W,6-4  2   0   0   0  0.007    1

The above code adds a 'win' column to the Jeter dataframe, with the value 1 representing a win, and a 0 representing a loss based on the Rslt column in the jeter dataframe.

In [52]:
contribute = jeter.WPA.mean()
print('Mean WPA: {:.6f}'.format(contribute))

Mean WPA: 0.011262

Win probability added is a sport statistic which attempts to measure a player's contribution to a win by figuring the factor by which each specific play made by that player has altered the outcome of a game. So we know Jeter made a contribution to the wins over the 20 seasons he played. Looking at the mean WPA of 0.011262, the positive value shows that on average he contributed to a win. This value is extremely low and close to zero, but it also is taking all 20 years and 2,747 games into account. So for that length of time having any positive value is impressive. This number has some limitations as a win or loss is not soley based on Jeter's performance. But as we continue to analyze his statistics we can further prove he made a positive contribution to the New York Yankees over his 20 seasons.

In [53]:
walks = np.array(jeter.loc[:,"BB"])
wins = np.array(jeter.loc[:,"win"])
correlation_bb_wins = np.corrcoef(walks,wins)
print("Correlation between walks and wins: ", round(correlation_bb_wins[0][1],4))

Correlation between walks and wins:  0.0581

There is a slight positive correlation between the number of walks Derek Jeter had and the number of wins the Yankees had. This makes sense, as getting to first base is a first step towards scoring, and ultimately towards winning a game.

In [54]:
sb = np.array(jeter.loc[:,"SB"])
wins = np.array(jeter.loc[:,"win"])
correlation_sb_wins = np.corrcoef(sb,wins)
print('Correlation between stolen bases and wins: ', round(correlation_sb_wins[0][1],4))

Correlation between stolen bases and wins:  0.0628

Again there is a slight positive correlation between the number of stolen bases Derek Jeter had and the number of wins he had. Meaning if he stole a base, there is a slight positive probability that the Yankees won that game.

In [55]:
real_slope = correlation_sb_wins[0][1]
real_x = np.array(jeter.loc[:,'SB'])
noise = np.random.normal(0,0.5, size=len(jeter.loc[:,"SB"]))
real_y = real_x * real_slope  +  noise
df = pd.DataFrame({"SB": real_x, "win": real_y})
model = LinearRegression().fit(df[["SB"]], df["win"])
print("Estimated Slope: ", model.coef_[0])

Estimated Slope:  0.06588256983451489

The real slope is the correlation coefficient between stolen bases and wins. The observed slope is slightly greater than the real slope because of the added noise and unpredictability of said noise.

In [56]:
sns.regplot(x=('SB[0],Sb[1],SB[2]'), y='win', data=df);
#maybe make a histogram to show distribution of stolen bases, and analyze what happens 
#when there is x number of stolen bases.
#filter the x by times  he stole bases

KeyError: 'SB[0],Sb[1],SB[2]'

In [ ]:
def totals_per_year(stat):
    np.arange(jeter["Year"].min(),jeter["Year"].max())
    num_year = jeter.groupby('Year').sum()
    years_played = jeter["Year"].unique()
    plt.bar(x = years_played, height = num_year[stat])
    plt.xlabel('Years')
    plt.ylabel(stat)
    plt.title("Jeter's Yearly Totals")
    plt.xticks(np.arange(min(years_played), max(years_played)+1, 2.0))
    plt.show()

In [ ]:
totals_per_year('H')

The above graph shows that Derek Jeter recorded the most hits in the seasons of 1997, 2000, 2003, and 2010.

In [ ]:
totals_per_year('BB')

The above graph shows that Derek Jeter recorded his most walks in the season of 2010.

In [ ]:
totals_per_year('HR')

The above graph shows that Derek Jeter recorded his most Home Runs in the seasons of 2004 and 2010.

In [ ]:
totals_per_year('SB')

The above graph shows that Derek Jeter recorded the most Stolen Bases in the seasons of 2000, 2003, 2007, and 2011.

In [ ]:
totals_per_year('win')

The above graph shows that the Yankees won the most games of games that Derek Jeter Played in the seasons of 1997, 2000, 2003, 2005, 2007, 2010, and 2011

Seasons where Jeter's stats peaked as well as Yankee Wins: 1997, 2000, 2003, 2007, 2010, 2011

From the data analysis from above, Jeter had 6 above average seasons. To further look at Jeter's contributions and importance to the NY Yankees, will will be using his 2010 season to compare to other players in the same season. This will allow us to compare his batting statistics with other players on the Yankees to see if he contributed more to their win.

# Alex Rodriguez

Alexander Enmanuel Rodriguez, nicknamed "A-Rod," is an American former professional baseball shortstop and third baseman, businessman and philanthropist. Rodriguez played 22 seasons in Major League Baseball for the Seattle Mariners, Texas Rangers, and New York Yankees. A-Rod's best year is said to be 2007, we will take his stats from 2007 and directly compare them to Jeter's from 2010 which we found above to be his most consistent.

In [ ]:
jeter_2010 = jeter.loc[jeter['Year'] == 2010]
jeter_2010.head()

Above is a reduced dataframe for Jeter containing only game statistics from his 2010 season allowing us to compare him to the other players.

In [ ]:
arod = pd.read_csv('arod_2007.csv')
arod.head()

In [ ]:
rod = pd.read_csv('Rodriguez.csv')
rod.head()

In [ ]:
rod = rod[['Rslt', 'H', 'HR', 'SB', 'BB', 'WPA']]
rod['win'] = rod.Rslt.apply(lambda x: 1 if 'W' in x else 0)
print('Rodriguez Table:')
rod.head()

# Curtis Granderson

Curtis Granderson Jr. is an American former professional baseball outfielder. He played 16 seasons in Major League Baseball for the Detroit Tigers, New York Yankees, New York Mets, Los Angeles Dodgers, Toronto Blue Jays, Milwaukee Brewers, and Miami Marlins.

In [ ]:
granderson = pd.read_csv('Granderson.csv')
granderson.head()

# Nick Swisher

Nicholas Thompson Swisher is an American former professional baseball outfielder and first baseman in Major League Baseball. He was a switch hitter who threw left-handed, and played for the Oakland Athletics, Chicago White Sox, New York Yankees, Cleveland Indians and Atlanta Braves.

In [ ]:
swisher = pd.read_csv('Swisher.csv')
swisher.head()

## Data Cleaning

In [ ]:
granderson = granderson[['Rslt', 'H', 'HR', 'SB', 'BB', 'WPA']]
granderson['win'] = granderson.Rslt.apply(lambda x: 1 if 'W' in x else 0)
print('Granderson Table:')
granderson.head()

In [ ]:
swisher = swisher[['Rslt', 'H', 'HR', 'SB', 'BB', 'WPA']]
swisher['win'] = swisher.Rslt.apply(lambda x: 1 if 'W' in x else 0)
print('Swisher Table:')
swisher.head()

Now after selecting the same variables as we used with Jeter, we can use these statistics to compare the contribution that Jeter made to Granderson and Swisher.

In [ ]:
print('Jeter total wins in 2010: ', jeter_2010.win.sum())
print('Granderson total wins in 2010: ', granderson.win.sum())
print('Rodriguez total wins in 2010: ', rod.win.sum())
print('Swisher total wins in 2010: ', swisher.win.sum())

From this initial analysis of total wins for the 2010 season for all of these players, Jeter comes out on top with 92 wins. Since all of the data we are using is from the 2010 season we can assume that the other players didn't play every game of the season that they had a win in.

In [ ]:
print('Jeter total hits in 2010: ', jeter_2010.H.sum())
print('Granderson total hits in 2010: ', granderson.H.sum())
print('Rodriguez total hits in 2010: ', rod.H.sum())
print('Swisher total hits in 2010: ', swisher.H.sum())

When looking at total hits, Jeter had the most hits in the 2010 season but also played in more games than the rest of the players. But a hit does not gain a point in the game of baseball. What does? Homeruns.

In [ ]:
print('Jeter total homeruns in 2010: ', jeter_2010.HR.sum())
print('Granderson total homeruns in 2010: ', granderson.HR.sum())
print('Rodriguez total homeruns in 2010: ', rod.HR.sum())
print('Swisher total homeruns in 2010: ', swisher.HR.sum())

Derek Jeter is now close to the bottom. He has less than half of both of all 3. Plus Jeter played in more games than all of these players.

In [ ]:
print('Jeter homerun to hit ratio in 2010: ', jeter_2010.HR.sum()/jeter_2010.H.sum())
print('Granderson homerun to hit ratio in 2010: ', granderson.HR.sum()/granderson.H.sum())
print('Rodriguez homerun to hit ratio in 2010: ', rod.HR.sum()/rod.H.sum())
print('Swisher homerun to hit ratio in 2010: ', swisher.HR.sum()/swisher.H.sum())

data = [['Jeter', jeter_2010.HR.sum()/jeter_2010.H.sum()], ['Granderson', granderson.HR.sum()/granderson.H.sum()], ['Rodriguez', rod.HR.sum()/rod.H.sum()], ['Swisher', swisher.HR.sum()/swisher.H.sum()]]
ratios = pd.DataFrame(data, columns = ['Name', 'Ratio'])
plt.bar(x=ratios['Name'], height=ratios['Ratio'])
plt.xlabel('Player')
plt.ylabel('Homerun to Hit Ratio')
plt.show()

Using the total homeruns and hits from each player, I calculated the ratio of homeruns to hits. This number represents the probability that the player will get a homerun on their time on the field and up to bat. I added the bar graph to allow you to visualize the drastic difference of Jeter's ratio. It is less than Swisher, whom has the next lowest.

# Questions for Reviewers:

- Can we get a bit of feedback on our phase II part, we updated a lot and added more data to further our investigation.

- How can we make our analysis between Jeter and the other players more in depth instead of just comparing the stats directly?

- ANSWER: (maybe compare Jeter's best seasons to another player's best years or worst years to worst years)